@import "./App.scss";
@import "./Forum.scss";
@import "./Navbar.scss";
@import "./Page.scss";
@import "./Themes.scss";
@import "./MainPage.scss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Kanit", "Segoe UI", "Roboto", "Oxygen", sans-serif;
  display: flex;
}

button {
  font-family: "Kanit", "Segoe UI", "Roboto", "Oxygen", sans-serif;
}
