@import "./Themes.scss";

.login-form {
  margin: 10px;
}

.login-title {
  font-size: calc(50px + 2vw);
  font-weight: bold;
  margin-bottom: 20px;
}

.login-input {
  background-color: $post-background-color;
  color: $text-color;
}
