@import "./Themes.scss";

.navbar {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  background-color: $navbar-color;
  text-align: left;
  border-bottom: 1px solid #000000;

  // TODO - dropdown on mobile / low space
}

.nav-link {
  margin-left: 20px;
  color: $text-color;
  text-decoration: none;
  font-size: calc(26px + 0.5vw);
}

.nav-right {
  float: right;
  margin-right: 20px;
}
